# ============= #
# Unity 生成的 #
# ============= #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]user[Ss]ettings/
[Uu]serSettings/

# ===================================== #
# Visual Studio / MonoDevelop 生成的 #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
*.sqlite

# ============ #
# OS 生成的 #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ============ #
# 项目特定的 #
# ============ #
# 你的一些特定文件
MerryYellow.CodeAssist.Editor.csproj
Test02.sln

# ============ #
# 包管理器 #
# ============ #
# 通常不需要提交Packages文件夹，只需要manifest.json
[Pp]ackages/
!Packages/manifest.json

# Unity Package Manager缓存
Library/PackageCache/*